DB_HOST=108.167.168.27
DB_USER=bestt486_appj12
DB_PASSWORD="Jessica12@#$"
DB_NAME=bestt486_appj12
DB_PORT=3306
DB_CONNECT_TIMEOUT=10000
DB_CONNECTION_LIMIT=10

PORT=3001
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000
